<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_right">
                <figure>
                    <img src="images/about1.png" alt="Arnab" class="img-fluid" title="Arnab Sharma">
                </figure>
              </div> 
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to Weather App</p>
              <h1>I Am A <span class="text_clr"> MERN Stack Developer </span> And A Problem Solver</h1>
              <a href="https://www.linkedin.com/in/arnab-sharma-56733118b/" target="_arnab"><button>About Me</button></a>
            </div>
            <!-- right side div -->
           
          </div>
        </div>
      </div>
    </div>

    <!-- footer code-->
    
     {{>footer}}
  </body>
</html>
